*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: "EB","Garamond";
    line-height: 1.5;
}
h2.post-heading{
    font-size: 1.3rem;
}
header{
    background-color: #f8f9fa;
}
li{
    list-style-type: none;

}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header,main,section,footer,.trending{
    width: 100%;
    padding: 2px;
}
header{
    padding: 10% 0;
}
.para-1{
    margin-top: 15px;
}
div.trending-content{
    width: 100%;
    margin: auto;
    border: 2px solid #efefef;
}
.trending-heading{
    font-size: 1.5rem;
}

section{
    background-color: #222529;
    color: #fff;
}

section h3{
    font-size: 1.5 rem
}

.section-heading{
    margin-bottom: 10%;
}

.section-para{
    margin-bottom: 8%;
}

.learn-more{
    display: block;
    margin-bottom: 10%;
    font-size: 1.2rem;
    color: #fff;
}

.navigation-categories-section{
    display: flex;
    padding-bottom: 10%;
}

.ul-1,.ul2{
    width: 50%;
}

.recent-img-section img{
    display: block;
    width: 35%;
    
    margin-right: 10%;
}

.recent-img-section, .small-heading{
    padding: 0;
    margin: 0;
}
.recent-heading{
    color: darkgray;
}
.recent-img-section{
    display: flex;
    align-items: center;
}

.recent-text{
    width: 80%;
}

.trending ul li{
    border-bottom: 2px solid #efefef;
    font-size: 17px;
    width: 100%;
    padding: 5%;
    
}
.trending ul li small{
    display: block;
    padding: 5% 0;
}
.posts{
    padding: 1px;
}
.watermark{
    display: none;
}
.header-content,.main-content,.section-wrapper,.trending-content,.footer-section{
    width: 90%;
    margin: auto;
}
img{
    width: 100%;
    margin: 10px 0;
}

.small-heading{
    color: #bebebe;
    font-size: 12px;
    display: block;
    padding-top: 0%;
    margin-bottom: 7%;

}
.profile{
    margin: 5% 0px;
    display: flex;
    align-items: center;
}
.name{
    padding-left: 10px;
}
.img-1{
    margin-bottom: 8px;

}
.img-2{
    width: 12%;
    border-radius: 50%;
}

.heading-1{
    font-size: 33px
}
nav{
    display: none;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}
footer small{
    font-size: 1rem;
}

.footer-section p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.go-up{
    position: absolute;
    right: 15px;
    background-color: #222529;
    padding: 5px 10px;
    border-radius: 4px;
}
.footer-icons{
    background-color: #222529;
    border-radius: 50%;
    padding: 8px;
}








/* Large device */
@media screen and (min-width: 768px) {
    header,main{
        width: 100%;
        padding: 0;
    }
    .fa-bars{
        display: none;
    }

    .header-logo i{
        padding: 2%;
    }
    main{
        width: 100%;
        padding: 1% 0 10% 0;
    }
    .header-content,.main-content{
        width: 80%;
        padding: 0 auto 0 auto;
        margin: auto;
    }
    nav{
        display: block;
        width: 50%;
    }

    .logo{
        width: 25%;
    }
    .header-logo{
        width: 25%;
        text-align: right;
    }
    nav ul{
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-evenly;
    }
    img{
        margin-top: 0;
    }

    .main-content{
        margin: auto;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 30% 50% 20%;
    }
    .container2{
        width: 95%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container1,.container2,.container3{
        padding: 0%;
    }
    .container2 .post{
        width: 100%;
        padding: 0% 10%;
        margin-left: 5%;
        border-left: 1px solid #efefef;
    }
    .container1{
        width: 100%;
        margin-top: 0%;
    }
    .container2{
        width: 90%;
        margin: auto;
        margin-top: 0;
    }

    .container2 .post{
        padding: 0 10%;
    }
    section{
        padding: 3% 0 3% 0;
    }
    .section-para{
        font-size: 15px;
        color: lightgray;
    }

    .section-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
    }

    .about-section{
        width: 25%;
    }

    .navigation-categories{
        width: 50%;
        margin: 0 auto;
    }

    .recent-post{
        width: 25%;
    }

    .navigation-categories-section{
        width: 60%;
        justify-content: end;
    }

    .ul1,.ul2{
        width: 100%;
    }

    .recent-img-section {
        align-items: flex-start;
      }

      .section-wrapper h3{
          margin-bottom: 5%;
      }

     footer{
            padding: 3% 0px;
            width: 100%;
      }

      .footer-section{
          width: 80%;
          display: flex;
          align-items: baseline;
      }
   
      .footer-text{
          width: 50%;
          padding: 10px 0;
          text-align: left;
      }
      .footer-icons-section{
          width: 50%;
          text-align: right;
      }
      .footer-icons{
          padding: 8px;
      }

      .go-up{
            right: 1%;
      }

      .heading-1 {
        font-size: 30px;
      }

      .name{
          padding-bottom: 10%;
      }
      .learn-more{
          font-size: 18px;
      }

      h2.post-heading {
        font-size: 17px;
      }

      .trending .watermark{
          display:flex;
        
      }

      .trending-content{
          position: relative;
      }

      .trending ul li{
        font-size: 1rem;
      }
      .watermark{
          position: absolute;
          margin-top: -10%;
          opacity: 0.5;
          left: -12%;
          font-size: 80px;
          color: #efefef;
      }

      .down{
          margin-left: 5px;
      }

      .footer-heading{
          display: block;
      }
   }