.img-1{
    border-radius: 50%;
}

html{   
font-family:"EB","Garamond";
}

.scroll-up {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: rgba(33, 37, 41, 0.8);
    width: 22px;
    color: #fff;
    padding:2px 3px;;
    height: 22px;
    text-align: center;
}
.copy, .footer-heading, .footer-nav{

    text-align: center;

}
.copy{
    font-weight:300;
}
.footer-heading{
    font-size: 10px;
}
strong{
    font-size: 15px;
}

.card{
    border: none;
}
p{
    font-size: 12px;
    color: gray;
}
.text-dark{
    font-weight: 501;
}
.list-group-item{
    font-size: 13px;
}

  .list-group{
      border-radius: 0%;
  }
  .fa-arrow-up{
      position:absolute;
      right: 5%;
    

  } 
.nav a{
    padding:10px;
    text-align: center;
}
nav{
    width: 80%;
    margin: auto;      
}
 nav ul{
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    text-decoration: none;
    
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 12px;
    
}
a{
    color: black;
    font-weight: 300;
    font-size: 12px;
}
.list-group{
    position: relative;
}
.watermark{
    position: absolute;
    right: 80%;
    font-size: 70px;
    top: -13%;
    color: gray;
    opacity: 0.3;
    
}

@media (min-width: 768px) {
    .contain-1, .contain-2{
      border-right: 1px solid #e3e7eb !important;
    }
}

 