@media screen and (max-width:767px) {

    .header{
        padding:0 10px;      
    }
    .row-header{
        display: flex;
        height: auto;
        padding: 0 10px;
    }
    .header-logo{
        width: 50%;
        margin: auto;
    }
    .logo-heading{
        padding-top: 33px;
        font-size: 14px;
    }
    nav .hamburger{
        display: block;
    }
    .fa-bars{
        float: right;
    }
    nav ul {
        display: none; 
        padding-top: 30px;
        text-align: center;
    }
    nav .visible{
        display: block;
    }
    nav ul li{
        padding-top: 10px;
    }
    nav ul li a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 5px 0px;
    }
    .row-1{
        display: block;
        padding-top: 30px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-image {
        height: 500px;
    }
    .banner-small-heading{
        font-size: 17px;
    }
    .banner-content .large-heading{
        font-size: 1.5em;
    }
    .banner-content .banner-info{
        font-size: 19px;
    }
    .btn-banner{
        padding: 11px;
        font-size: 18px;
    }
    .btn-banner .go-to-recipe{
        text-decoration: none;
    }
    .recipes-detail-col {
        width: 100%;
        padding: 0;
    }
    .recipes-date, .recipes-location {
        font-size: 15px;
    }
    .recipe-info {
        font-size: 19px;
    }
    .recipes-card {
        height: inherit;
    }
    .image-footer .return, .upangle {
        font-size: 23px;
        padding-left: 0px;
    }
    .feedback{
        padding: 15px;
    }
    .feedback-para{
        width: 80%;
        font-size: 22px;
    }
    .form-col-1 .contact-heading, .trash {
        font-size: 18px;
    }
    .feedback-heading{
        font-size: 25px;
    }
    .footer{
        padding: 15px 10px;
    }
    .footer-info{
        width: 100%;
    }
    div.form-1,.form-2{
    display: flex;  
    flex-wrap: wrap;
    padding-top: 10px;
    border: none;
    }
    .form-col-1{
        width: 100%;;
    }
    .form-1 input, .form-2 input {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .remove,.add-friend,.send-btn{
        font-size: 18px;
    }
    .add-friend{
        padding: 10px;
    }
    .send-btn{
        width: 60%;
        margin-left: 0px;
    }
    .row-footer{
        display: block;
    }
    #recipes{
        padding: 0 10px;
    }
    .main_filter{
        display: block;
    }
    .filter_list{
        width: auto;
        font-size: 17px;
        padding: 10px;
    }
    .border{
        border: none;
    }
    .left_filter {
        flex-basis: 100%;
    }
    .filter_one .filter_one_heading {
        font-size: 19px;
    }
    .filter_two .sort-by{
        font-size: 20px;
    }
    .middle_filter{
        padding-top: 10px;
        flex-basis: 50%;
    }
    .end_filter{
        display: block;
    }
    .row-recipes-detail{
        padding: 0 10px
    }
    #form-remove, #add-friend {
        text-align: inherit;
    }
    #add-friend,#form-remove{
        padding-left: 40%;
    }
    .feedback-btn {
        margin-left: 20px;
    }
}