@media screen and (max-width:767px){
    .Recipes-menu {
        padding-bottom: 20px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-column-left, .filter-column-right {
        width: 50%;
    }

    .sort-left, .search {
        width: 100%;
        text-align: center;
    }

    .footer-col, .recipes-detail-col, .food-nationality-col, .food-type-col, .sign-up-col, .banner-image, .banner-text {
        width: 100%;
    }

    .footer-col, .recipes-detail-col, .food-nationality-col, .food-type-col, .sign-up-col, .banner-image, .banner-text {
        width: 100%;
    }

    
}