@media only screen and (min-width: 768px) and (max-width: 1200px){

    .header {
        padding: 0;
    }
    .header-logo {
        width: 70%;
        justify-content: center;
    }
    .logo-heading{
        font-size: 20x;
    }
    .hamburger {
        display: none;
    }
    nav ul{
        padding-top: 22px;
    }
    .banner{
        padding-top: 10px;
    }
    .header-navigation a {
        color: rgb(91, 91, 91);
        font-size: 15px;
    }
    .header-navigation {
        width: 100%;
    }
    div.form-1,.form-2 {
        display: flex;
        flex-wrap: wrap;
    }
    .form-col-1{
        width: 50%;
    }
    .banner-content{
        padding: 25px;
    }
    .btn-banner {
        width: 20%;
        border: none;
        text-align: center; 
        font-size: 14px;
    } 
    .btn-banner {
        background-color: rgb(255, 255, 255);
        width: 90%;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        padding: 15px 10px;
    }
    .banner-content .banner-info, .banner-small-heading {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 23px;
    }
    .banner-content .large-heading {
        font-size: 27px;
    }
    .recipes-detail-col{
        width: 50%;
    }
    .recipe-info{
        font-size: 27px;
    }
    .recipes-date, .recipes-location {
        font-size: 22px;   
    }
    .feedback-para {
        width: 95%;
        padding-top: 10px;
        font-size: 30px;
    }
    .feedback-heading {
        font-size: 30px;
    }
    .form-1 input, .form-2 input {
    font-size: 20px;
    }
    .remove,.add-friend,.send-btn{
        font-size: 25px;
    }
    .form-col-1 .contact-heading, .trash {
        font-size: 26px;
    }
    .filter_one .filter_one_heading {
        font-size: 20px;
    }
    .filter_list {
        padding: 7px;
        color: white;
        font-size: 20px;
    }
    .footer-info{
        width: 50%;
    }
    .footer-para, .footer-para-2 {
        padding-top: 10px;
        font-size: 23px;
        color: #5e5e5e;
        font-weight: 500;
    }
    .footer-link{
        font-size: 24px;
    }
}