*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI";
    overflow-x: hidden;
}

/* Header */
.header{
    width: 100%;
    height: auto;
    padding: 0 50px;
}
.row-header{
    display: flex;
}
.header-logo{
    width: 30%;
    display: flex;
}
.logo-img{
    position: relative;
    top: 20px;
}
.logo-heading{
    font-size: 22px;
    color: rgb(234, 77, 81);
    align-self: center;
    padding-left: 10px;
    padding-top: 12px;
    font-weight: 500;
}
.header-navigation{
    width: 70%;
    align-self: center;   
}
nav .hamburger{
    display: none;
}
nav ul{
    justify-content:space-between;
    display: flex; 
    padding-top: 12px;
    padding-right: 23px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.header-navigation a{
    color: rgb(91, 91, 91);
    font-size:18px;
    font-weight: 600;
}

 /* ---------------------------------------------------------------- */

 /* Section-1 Banner */
.banner{
    width: 100%;  
}
.banner-img{
    width: 100%;
}
.banner-image{
    width: 100%;
    height: 750px;
    vertical-align: bottom;
    object-fit: cover;
}
.banner-content{
    width: 30%;
    padding: 15px;
    background-color:#ea474c;
}
.banner-content .banner-info, .banner-small-heading{
    color: rgb(254, 255, 255);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.banner-content .large-heading{
    color: white;
    font-size: 30px;
    margin-top: 15px;
}
.btn-banner{
    background-color:rgb(255, 255, 255);
    padding: 20px;
    border:none;
    margin-top: 18px;
    border-radius: 5px;
    font-size: 20px;
    
}
.btn-banner .go-to-recipe{
    text-decoration: none;
    color: lightslategray;
}
.fa-arrow-right-long{
    padding-left: 5px;
    color: black;
}
.row-1,.row-2{
    display: flex;
}

/* ----------------------------------------------------------- */

/* Section-2 Recipes */
.filter{
    background-color: #eae9e9;
}
.filter_conatiner{
    padding: 20px 47px;
    
}
.recipes_heading{
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 20px;
}
.filter_type{
    display: flex;
    flex-wrap: wrap;
}
.left_filter{
    width: 24.5%;
    background-color: #ea474c;
}
.filter_one{
    margin-top: 5%;
    padding-left: 15px;
}
.filter_one .filter_one_heading{
    padding: 10px;
    font-size: 20px;
    padding-left: 0px;
    text-align: center;
    color: white;
}
.filter_one .minus-sign{
    float: right;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}
.middle_filter{
    flex: 3;
    padding-bottom: 10px;  
}
.filter_two{
    margin-top: 1.3%;
    margin-left: 3%;
}
.filter_two .sort-by{
    font-size: 20px;
    margin-right: 2%;
}
.filter_two button{
    height: 40px;
    width: 140px;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.filter_two button i{
    margin-left: 2%;  
}
select{
    padding: 10px;
    margin-bottom: 10/px;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 3px;
}
select:hover{
    cursor: pointer;
}
.main_filter{
    display: flex;
    flex-wrap: wrap;
    background-color: #ea474c;

}
.border{
    border-right: 1px solid white;
}
.filter_list{
    width: 25%;
    padding: 8px;
    color: white;
    font-size: 20px;
}
.nationality-filter{
    display: flex;
}
.lists{
    position: relative;
    margin-top: 40px;
}
.filter_heading{
    margin-bottom: 10px;
    padding-left: 10px;
}
.end_filter {
    margin-top: 11px;
    text-align: right;
    justify-content: end;
}
.end_filter .input-type{
    padding-bottom: 25px;
    width: 44%;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #eae9e9;
    font-weight: 500;
}
.search-icon{
    padding-top: 8px;
    font-size: 21px;
    padding-right: 15px;
}

/* ----------------Cards section-------------- */

.recipes-detail{
    padding-bottom: 30px;
    background-color: #eae9e9;
}
.row-recipes-detail{
    display: flex;
    flex-wrap: wrap;
        padding: 20px 37px;
    
}
.recipe-info{
    margin-top: 15px;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: 500;
}
.recipes-detail-col{
    width: 25%;
    padding-bottom: 20px;
    padding: 10px;
}
.recipes-card{
    height: 129px;
    padding: 10px;
    background-color: #fff;
}
.recipes-date,.recipes-location{
    color: #5e5e5e;
    font-size: 16px;
}
.dish-img{
    width: 100%;
    height: inherit;
}
.image-footer .return, .upangle{
    text-decoration: none;
    color: #ea474c;
    font-size: 20px;
    font-weight: 500;
}   
.upangle{
    margin-top: 6px;
    margin-left: 7px;
}
.row1:after,.row-2:after {
    content: "";
    clear: both;
    display: table;
}
.row-feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-left: 59px;
}
.recipes-location{
    float: right;
}

/* Feedback-section */
.feedback{
    background-color: #ea474c;  
    padding:20px 47px; 
}
.sub-feedback{
    
    padding-top: 20px;
}
.feedback-words{
    width: 91%;
    margin: auto;
    padding-top: 40px;
}
.feedback-heading,.feedback-para{
    color: #feffff;
}
.feedback-heading{
    font-size: 20px;
    padding-top: 5px;
}
.feedback-para{
    width: 35%;
    padding-top: 10px;
    font-size: 20px;
}
.form{
    padding-top: 10px;
}
#form-first{
    border-bottom: 1px solid #fff;
    width: 95%;
}
.form-col-1{
    width: 25%;
    padding: 10px 15px 10px 0;
}
.remove{
    font-size: 20px;
    color: white;
}
.form-col-1 .contact-heading,.trash{
    color: #ffffff;
    font-size: 20px;
}
.trash{
    padding-top: 45px;
}
.form-col-1 input{
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    height: 50px;
}
#form-remove, #add-friend{
    text-align: center;
}
#form-remove, label:hover{
    cursor: pointer;
}
.remove{
    padding: 8px;
}
.add-friend{
    background-color: #ea474c;
    
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 15px;
    margin-top:25px;
    font-size: 18px;
    
}
.add-friend:hover{
    cursor: pointer;
    background-color: #4a4a4a;
}
.send-btn:hover, .btn-banner:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
label{
    margin: 2px;
}
.feedback-btn{
    text-align: center;   
}
.send-btn{
    padding: 17px 37px;
    margin: 20px;
    margin-left: 45px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
}
.fa-arrow-right{
    padding-left: 6px;
}

/* Footer */
.footer{
    background-color: #f6f6f6;
    padding: 20px 47px;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-info{
    width: 20%;
    padding: 15px;
    padding-top: 4%;
    text-align: start;
}
.footer-heading{
    font-size: 25px;
    font-weight: 500;
    color: #5e5e5e;
}
.footer-para, .footer-para-2{
    padding-top: 10px;
    font-size: 20px;
    color: #5e5e5e;
    font-weight: 500;
}
.footer-link {
    display: block;
    padding-top: 1em;
    font-size: 20px;
    color: red;
    text-decoration: none;
}

/* circle checkbox */
.field_grp{
    padding: 4px;      
}  
.field_grp label{
    display: flex;
}
.field_grp input[type='checkbox']{
    position: absolute;
    opacity: 0;    
}
.field_grp label::before{
    content: "";
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border:1px solid white;
    margin-right: .5em;
    background-color: white;
}
.field_grp input[type="checkbox"]:checked + label::before{
    content: '\002714';
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;  
}
div.form-1{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}
.form-1 input{
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
}
.form-2{
    display: flex;
    padding-top: 5px;
    
    flex-wrap: wrap;
}
.text-align-c
{
    text-align: center;
    margin-top: 30px;
}
.form-group{
    padding: 8px;
    width: 25%;    
}
.form-group input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 15px;
}
.btn{
    font-size: 18px;
    padding: 11px 47px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group label{
    font-size: 20px;
    cursor:default;
}
.table{
    width: 100%;
    margin: auto;
    font-size: 15px;
}
#table{
    font-size: 20px;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: 600;
}
td{
    font-size: 1em;
    text-align: center;
    padding: 5px;
    color: white;
}
.edit,.delete{
    padding: 7px 20px;
    font-size: 13px;
    color: brown;
    cursor: pointer;
    border-radius: 5px;
}
.editform{
    display: flex;
    flex-wrap: wrap;
    
}
.update-btn{
    text-align: center;
    
}
.update{
    font-size: 20px;
    padding: 11px 47px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 22px;
}
.editform label{
    font-size: 22px;
}
.editform .btn-primary{
    cursor: pointer;
}

