@media screen and (max-width:767px) {

.header {
    padding: 0 10px;
}
.row-header {
    display: flex;
    height: auto;
    padding: 0 10px;
}

.header-logo {
    width: 50%;
    text-align: center;
    margin: auto;
}
.logo-heading {
    padding-top: 33px;
    font-size: 14px;
}

    .header-navigation {
        margin: auto;
    }

    .header-navigation a {
        font-size: 12px;
    }

    nav .hamburger {
        display: block;
    }

    .fa-bars {
        float: right;
    }

    nav ul {
        display: none;
        padding-top: 30px;
        text-align: center;
    }

    nav .visible {
        display: block;
    }

    nav ul li {
        padding-top: 10px;
    }

    nav ul li a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 5px 0px;
    }

    .row-1 {
        display: block;
        padding-top: 30px;
    }

    .banner-content {
        width: 100%;
        padding: 10px
    }

    .banner-small-heading {
        font-size: 17px;
    }

    .banner-content .large-heading {
        font-size: 1.5em;
    }

    .banner-content .banner-info {
        font-size: 19px;
    }

    .banner-small-heading {
        margin-top: 0;
    }

    .btn-banner {
        padding: 11px;
        border: none;
        font-size: 18px;
    }

    .btn-banner .go-to-recipe {
        text-decoration: none;
    }

    .recipes-detail-col {
        width: 100%;
        padding: 0;
    }

    .recipes-date,
    .recipes-location {
        font-size: 15px;
    }

    .recipe-info {
        font-size: 19px;
    }

    .recipes-card {
        height: inherit;
        background-color: #fff;
    }

    .image-footer .return,
    .upangle {
        font-size: 23px;
    }

    .feedback-para {
        width: 80%;
        font-size: 20px;
    }

    .form-col-1 .contact-heading,
    .trash {
        font-size: 18px;
    }

    .feedback-heading {
        font-size: 20px;
    }

    .form-group label {
        font-size: 17px;
        cursor: default;
    }

    .form-1 input {
        font-size: 12px;
    }

    .footer {
        padding: 15px 10px;
    }

    .footer-info {
        width: 100%;
        padding-top: 0px;
    }

    div.form-1,
    .form-2 {
        display: block;
        padding-top: 10px;
        border: none;
    }

    .form-col-1 {
        width: 100%;
        ;
    }

    .form-1 input {
        font-size: 15px;
        margin-bottom: 0px;
        width: 100%;
    }

    .remove,
    .add-friend,
    .send-btn {
        font-size: 18px;
    }

    .add-friend {
        padding: 10px;
    }

    .send-btn {
        width: 60%;
        margin-left: 0px;
    }

    .row-footer {
        display: block;
    }

    .footer-para,
    .footer-para-2 {
        font-size: 20px;
        color: #5e5e5e;
        font-weight: 500;
    }

    .footer-heading {
        font-size: 25px;
    }

    #recipes {
        padding: 0 10px;
    }

    .main_filter {
        display: block;
        padding: 0 10px
    }

    .filter_list {
        width: auto;
        font-size: 17px;
        padding: 10px;
    }

    .border {
        border: none;
    }

    .left_filter {
        flex-basis: 100%;
    }

    .filter_one .filter_one_heading {
        font-size: 19px;
    }

    .filter_two .sort-by {
        font-size: 20px;
    }

    .middle_filter {
        padding-top: 10px;
        flex-basis: 50%;
    }

    .end_filter {
        display: block;
    }

    .filter_type {
        flex-basis: 100%;
    }

    .row-recipes-detail {
        padding: 0 10px
    }

    .sub-feedback {
        margin: auto;
    }

    #form-remove,
    #add-friend {
        text-align: inherit;
    }

    #add-friend,
    #form-remove {
        padding-left: 40%;
    }

    .feedback-btn {
        margin-left: 20px;
    }

    .form-group {
        padding: 10px;
        width: 100%;
    }

    #table {
        width: 100%;
        margin: auto;
        overflow-x: auto;
    }

    .table {
        font-size: 10px;

    }
    .text-align-c
{
    padding-left: 0;

}
tr{
    font-size: 15px;
}

}